<h1>Reviews for <%=link_to @movie.title, @movie%></h1>
<ul class="reviews">
<% @reviews.each do |rev| %>
  <li>
     <%=render "reviews/stars", percent: rev.stars_as_percent%> 
    <p>
      <%=rev.name%>
      <span class="date">
        <%= time_ago_in_words(rev.created_at)%> ago
      </span>
      </p>
      <p>
        <%=rev.comment%> <div><%= link_to 'Delete', movie_review_path(@movie, rev), method: :delete, class: 'alert-danger' %></div>
      </p>
  </li>
<% end %>
</ul>